<!DOCTYPE html>
<html>
<head>
    <title>Form</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<h2>Form page</h2>

<form>
	<p><input type="hidden" name="id" id="id"></p>
	<p>First name:
	<input type="text" name="firstname" id="firstname"></p>
	<p>Last name:
	<input type="text" name="lastname" id="lastname"></p>
	<p>Birth date:
	<input type="date" name="birthdate" id="birthdate"></p>
	<p>Dementia stage:
	<input type="number" name="dementialevel" id="dementialevel"></p>
	<p><input type="button" name="save" id="save" value="Save"></p>
</form>

</body>
</html>
