<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Form</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<script src="http://localhost:8080/js/jquery-3.3.1.min.js"></script>
</head>
<body>

<h2>Form page</h2>
<div th:unless="${confirm==null}">
	<p th:text="${confirm}"></p>
</div>
<form id="form" action="/patients" method="post">

	<p><input type="hidden" name="patientId" id="patientId" th:value="${patient?.patientId}"></p>
	<p>
		<input type="hidden" name="profile" id="profile" th:value="${patient?.profile}">
	</p>

	<p>First name:
	<input type="text" name="firstName" id="firstName" th:value="${patient?.firstName}"></p>
	<p>Last name:
	<input type="text" name="lastName" id="lastName" th:value="${patient?.lastName}"></p>
	<p>Birth date:
	<input type="date" name="birthDate" id="birthDate" th:value="${patient?.birthDate}"></p>
	<p>Dementia stage:
	<input type="number" name="dementiaLevel" id="dementiaLevel" th:value="${patient?.dementiaLevel}"></p>
	<p>Password:
		<input type="text" name="password" id="password" th:value="${patient?.password}">
	</p>
	<p>
        <button type="submit" name="save" id="save">Save</button>
    </p>
</form>
<script type="text/javascript" src="http://localhost:8080/js/JSONscript.js"></script>
</body>
</html>
